#hidden_order {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*затемнитефон*/
    visibility: hidden;
}

.order {
    display: inline-block;
    position: relative;
    top: 10%;
    border: 2px groove rgb(180, 180, 180);
    border-radius: 20px;
    background: white;
    width: 350px;
    height: auto;
    padding: 20px 20px;
}

#text_info {
    font-size: 26px;
    margin-bottom: 40px;
}

#vk_btn {
    width: 90%;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 50px;
    text-decoration: none;
    background: #71AAEB;
    height: 60px;
    border: 2px groove #71AAEB;
    color: white;
    transition: 0.5s;
}


#vk_btn:hover { background-color: white; } /* при наведении курсора мышки */
#vk_btn:hover { color: #71AAEB; } /* при наведении курсора мышки */



#vklogo {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 40px;

}

#tglogo {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 40px;

}

#tg_btn {
    width: 90%;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 50px;
    text-decoration: none;
    background: white;
    height: 60px;
    border: 0px;
    margin-top: 30px;
    border: 2px groove #71AAEB;
    color: #4991e4;
    transition: 0.5s;
}

#tg_btn:hover { background-color: #71AAEB; } /* при наведении курсора мышки */
#tg_btn:hover { color: white; } /* при наведении курсора мышки */
#tg_btn:hover { border: 2px solid white; } /* при наведении курсора мышки */




#close {
    background: white;
    border: 0px;
    position: relative;
    left: 49%;
    top: -13px;
}
#close_img { width: 20px; height: 20px;}

