{% extends 'main/example.html' %}

{% block content %}
    <h1>Рады вас видеть!</h1>
    <h3 class="log_text">Авторизация</h3>
<!--    <form class= "regform" method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.login }}<br>-->
<!--        {{ form.password }}<br>-->

    <form class="regform" action="{% url 'main:auth' %}" method="post">
        {% csrf_token %}
        <input type="text" class="data_input" placeholder="Логин или Email" name="log"><br>
        <input type="text" class="data_input" placeholder="Пароль" name="pass">
        <button class="btn btn-success">Войти</button>
    </form>
        <br>
        <h4 class="errormsg">{{ error }}</h4>


{% endblock %}


